<% layout("/layouts/boilerplate") %>
<div class="row">
    <div class="col-8 offset-2">
        <br>
    <h2>Add a new Listing</h2>
    <form method="POST" action="/listings" novalidate class="needs-validation" enctype="multipart/form-data">
        <div class="mb-3">
            <label for="title" class="form-label">Enter Title</label>
            <input placeholder="Add an catchy title" name="listing[title]" type="text" class="form-control" required>
            <div class="invalid-feedback">Please enter a title</div>
        </div>
        <div class="mb-3">
            <label for="description" class="form-label">Enter Description</label>
            <textarea name="listing[description]" class="form-control" required></textarea>
            <div class="invalid-feedback">Please enter a short description</div>
            <!-- <input placeholder="Enter description" name="description" type="text" class="form-control"> -->
        </div>
       
        <div class="mb-3">
            <label for="img-url" class="form-label">Upload Listing Image</label>
            <input name="listing[image]" type="file" class="form-control">
            <div class="invalid-feedback">Please enter a valid url</div>
        </div>

        <div class="mb-3">
            <label for="price" class="form-label">Enter Price of the accomodation</label>
            <input placeholder="Eg. 1200" name="listing[price]" type="number" class="form-control" required>
            <div class="invalid-feedback">Enter a price</div>
        </div>
        <div class="row">
            <div class="mb-3 col-md-4">
            <label for="location" class="form-label">Enter Location</label>
            <input placeholder="Jaipur , Rajasthan" name="listing[location]" type="text" class="form-control" required>
            <div class="invalid-feedback">Please enter a location</div>
        </div>
        <div class="mb-3 col-md-8">
            <label for="country" class="form-label">Enter the Country name</label>
            <input placeholder="India" name="listing[country]" type="text" class="form-control" required>
            <div class="invalid-feedback">Please enter a Country name</div>
        </div>
        </div>
        <br>
        <button class="btn btn-dark add-btn">Submit</button>
        <br><br>
    </form>
</div>
</div>